<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title>Retrofter</title>
</head>
<body>
<br><table align=center><tr>
<td>[&nbsp;
<a href="">Retrofter 0.0.1</a>
&nbsp;|&nbsp;
<a href="https://github.com/Retrofter/Retrofter">Github</a>
&nbsp;]
 </tr></table><br>

<hr>
<p align=center>
<img SRC="common/nh4tx.gif" ALT=Retrofter>
</p>
<center>
<form action="/get-post" method="GET">  
  <input type="text" name="blog_id" placeholder="blog_id">  
  <input type="text" name="post_id" placeholder="post_id">  
  <button type="submit">前往</button>  
</form>  
</center>
<center>
<form action="/get-collection" method="GET">  
  <input type="text" name="collection_id" placeholder="collection_id">  
  <button type="submit">前往</button>  
</form>  
</center>

<h2><font color=green>Help!</font></h2><p>
尚未编写
<p>

<hr>
<h2 align=left>新闻</h2>
<table border>
<td>2024/11/05
<td>Retrofter 0.0.1
<h2><font color="green">CURRENT VERSION</font></h2>
<tr>
<tr>
</table>
<br>
<small>
首页模板来自:<a href="//www.nethack.org/">NetHack</a><br>
使用代码:<a href="https://github.com/SrakhiuMeow/lofter-getter">SrakhiuMeow/lofter-getter (Github)</a> 和文心一言<br>
</small>
</body>
</html>
